{{ define "index" }}
{{ template "head" . }}
{{ template "nav" . }}

<main class="content-page">
    <p>
        Mire is a minimal, no-bullshit web-based rss/atom feed reader.
    </p>

    <p>
        <a href="/login">Login</a> to add feeds of your own, or or visit <a href="/global">global</a> to see the latest
        posts for RSS feeds that <i>Mire</i> knows about. Or try your luck and visit <a href="/random">random</a> to get
        sent to a random post!
    </p>

    <p>
        For more info see the <a href="/about">about</a> page.
    </p>
</main>

{{ template "tail" . }}
{{ end }}