{{ define "list_item" }}

{{ $emoji := "" }}
{{ $class := "" }}
{{ if .Read }}
	{{ $emoji = "📜" }}
	{{ $class = "read" }}
{{ else }}
	{{ $emoji = "💌" }}
	{{ $class = "unread" }}
{{ end }}
<li>
	<a class="toggle-read-status-emoji" href="javascript:void(0);" onclick="toggleReadStatus(event);">{{ $emoji }}</a>

	<a href="{{ .Link }}" class="{{$class}}" onclick="visitLink(event);">
		{{ .Title }}
	</a>
	<br>
	<span class=puny title="{{ .Date }}">
		published {{ .Date | timeSince }} via <a href="//{{ .Link | printDomain }}">{{ .Link | printDomain }}</a>
	</span>
</li>

{{end}}
